.container-send{
    background-color:rgb(152,251,152);
    text-align: center;
    width: 15%;
    margin: auto;
    margin-top: 15%;
    padding:20px;
    border-radius: 10px;
}

.title-send h1{
    font-weight: 800;
    font-size: 1.8rem;
}

.link-send a{
    font-size: 1.1rem;
    color: black;
    font-weight: 700;
}

@media only screen and (max-width: 1024px){
    .container-send{
        width: 20%;
    }
}

@media only screen and (max-width: 768px){
    .container-send{
        width: 40%;
        margin-top: 30%;
    }
}

@media only screen and (max-width: 425px){

    .container-send{
        width: 60%;
        margin-top: 50%;
    }

}
