<main>
    <div class="main-footer">
        <div class="main-footer_low">
            <div class="main-footer_upper">
                <h3>Ayman Mastour</h3>
                <p>Développer Web Full Stack</p>
            </div>
            <div class="main-footer_lower">
                © Copyright
                <script>
                    document.write( new Date().getFullYear());
                </script>
                by Ayman Mastour
            </div>
        </div>
    </div>
</main>
</body>

</html>