<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="scss/main.css">

    <!--IMPORT FONT-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/91013eb16c.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/img/logo.png">
    <title>Ayman Mastour | Portefolio</title>

</head>

<body>

    <header>
        <div class="header">
            <nav class="nav">
                <div class="head-upper">
                    <!-- <img src="/img/Photo D'identité-1.png" alt="photo de profil"> -->
                    <h1>Mastour Ayman</h1>
                </div>
                <div class="head-lower">
                    <a href="./">Acceuil</a>
                    <a href="#intro-skills">à propos</a>
                    <a href="#intro-projet">Projet</a>
                    <a href="/pdf/Cv.pdf" target="_blank">CV</a>
                    <a href="#intro-contact">Contact</a>
                </div>
            </nav>
        </div>
    </header>