<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="scss/main.css">

    <!--IMPORT FONT-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/91013eb16c.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/img/logo.png">
    <title>Ayman Mastour | Portefolio</title>

</head>

<body>

    <header>
        <div class="header">
            <nav class="nav">
                <div class="head-upper">
                    <h1>Mastour Ayman</h1>
                </div>
                <div class="head-lower">
                    <a href="./">Acceuil</a>
                    <a href="#intro-skills">à propos</a>
                    <a href="#intro-projet">Projet</a>
                    <a href="/pdf/Cv.pdf" target="_blank">CV</a>
                    <a href="#intro-contact">Contact</a>
                </div>
            </nav>
            <nav role="navigation">
                <div class="menu-toggle">
                    <span>Menu</span>
                </div>
                <ul class="menu">
                    <li>
                        <a href="./">
                            <span>Acceuil</span>
                        </a>
                    </li>
                    <li>
                        <a href="#intro-skills">
                            <span>à propos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/pdf/Cv.pdf" target="_blank">
                            <span>CV</span>
                        </a>
                    </li>
                    <li>
                        <a href="#intro-contact">
                            <span>Contact</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </header>
    <script>
        const menu = document.querySelector(".menu");
        const toggle = document.querySelector(".menu-toggle");

        function toggleMenu() {
            toggle.classList.toggle("menu-open"); 
            menu.classList.toggle("active"); 
        }

        toggle.addEventListener("click", toggleMenu); 

        function adjustMenuDisplay() {
            const menuToggle = document.querySelector('.menu-toggle');
            const headLower = document.querySelector('.head-lower');
            const nav = document.querySelector('.nav');

            function handleResize() {
                if (window.innerWidth <= 1024) {
                    menuToggle.style.display = 'block';
                    headLower.style.display = 'none'
                } else {

                    menuToggle.style.display = 'none';
                    headLower.style.display = 'flex'

                }
            }

            handleResize();
            window.addEventListener('resize', handleResize);
        }

        adjustMenuDisplay();
    </script>