<%- include ('header') -%>


<main>
    <section id="presentation-projet">
        <h1>AutoExpress</h1>
        <p>Cette page contient l'étude AutoExpress qui comprend l'aperçu du projet, les outils utilisés et le lien du projet officiel.</p>
        <a href="https://github.com/Ayman-Mastour/AutoExpress" target="_blank">Lien Projet</a>
        <div class="arrow-down">
            <i class="fa-solid fa-arrow-down-long fa-bounce fa-2xl" style="color: #98fb98;"></i>
        </div>
    </section>
    <section id="projet-details">
        <div class="main-container_projet">
            <div class="projet-details_img">
                <img src="/img/Design.png " alt="image du projet AutoExpress" class="img_projet_link">
            </div>
            <div id="main-content">
                <div class="title-projet_link">
                    <h2>AutoExpress</h2>
                </div>
                <p>AutoExpress, mon projet de site de véhicules. Avec une conception axée sur la mobilité dès le départ, vous pouvez facilement explorer notre inventaire sur n'importe quel appareil, que ce soit sur votre téléphone, tablette ou ordinateur.</p>
                <p>La carte dynamique simplifie la recherche de véhicules, tandis que le processus de paiement sécurisé rend les transactions sans tracas. Du côté administrateur, la gestion de l'inventaire est simplifiée grâce à des outils intuitifs.</p>
                <p>Pour garantir la sécurité des informations, certaines pages nécessitent une connexion. AutoExpress offre une expérience automobile pratique, sécurisée et accessible à tous.</p>
                <p>N'hésitez pas à consulter le projet en visitant le lien du projet.</p>
            </div>
            <div class="title-projet_link">
                <h2>Outils Utilisés</h2>
            </div>
            <div class="skill">
                <div class="skill_skill">HTML</div>
                <div class="skill_skill">Node</div>
                <div class="skill_skill">SCSS</div>
                <div class="skill_skill">JavaScript</div>
                <div class="skill_skill">SQL Server</div>
            </div>
            <div class="title-projet_link">
                <h2>Liens</h2>
            </div>
            <div class="btn_projet_link">
                <a href="https://github.com/Ayman-Mastour/AutoExpress" target="_blank">Lien Projet</a>
                <a href="./">Retour</a>
            </div>

    </section>
</main>





<%- include ('footer') -%>