<%- include ('header') -%>
<main>
    <section class="container-send">
        <div class="title-send"><h1>Merci !</h1></div>
        <div class="content-send">Votre soumission de formulaire a été reçu.</div>
        <div class="link-send"><a href="./">Retouner au site</a></div>
    </section>
</main>